h1 {
    font-family: ;
    font-size: 40px;
    color: white;
    text-align: center;
font-family: "monospace", monospace;
 position: absolute;
   bottom: 480px;
   text-align: center;
   width: 100%;
margin: auto;
}
p {
    font-family: ;
    font-size: 30px;
    color: white;
    text-align: center;
font-family: "monospace", monospace;
 position: absolute;
   bottom: 450px;
   margin: auto;
   width: 100%;
}

a {
    text-align: center;
    background-color: 	#000000; 
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
margin: auto;
   bottom: 10000px;
   margin-left:auto;margin-right:auto;;margin-top:39%;margin-bottom:0%
}

html {
background: #505D6E url("/image1.jpg") no-repeat center center fixed;
min-height: 100%;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -0-background-size: cover;
    background-size: 2000px;  
}

body {
    background: transparent;
}

table {
    background: transparent;
}